.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.img-me {
  width: 25vw;
  height: auto;
  border-radius: 30px;
}

.Me_fhoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  margin-top: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #0a0a0a;
}

.headline {
  background-color: #f5f5f5;
  text-align: center;
  padding: 70px 0px 40px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #7d736d;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.headline-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  background: #7d736d;
  padding: 22px 117px 19px 118px;
}

.headline-img {
  margin-bottom: 25px;
}

.new {
  display: none;
  color: #0a0a0a;
  margin: 87px 0px 150px;
}

.new-title,
.contact-title {
  margin: 0 0 50px;
  text-transform: uppercase;
  text-align: center;
  color: #717171;
  font-style: 32px;
  line-height: 39px;
  font-weight: 700;
}

.new-info {
  display: flex;
  align-items: center;
}

.new-text p {
  max-width: 560px;
  margin: 0 0 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.new-text b {
  display: block;
  max-width: 560px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.img-new {
  width: 350px;
  height: 370px;
  margin-left: 100px;
}

.choice_contact {
  margin: 0px 0px 150px;
}

.choise_section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.img-choice {
  max-width: 60px;
  width: 5vw;
  height: auto;
}

.contact h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
